@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Regular"), local("Google-Sans-Regular"),
    url("../fonts/GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium"), local("Google-Sans-Medium"),
    url("../fonts/GoogleSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
