:root {
  --color-primary: #e04e4e;
  --text-primary: #fff;
  --text-secondary: #c5c5c5;
  --text-tertiary: #838383;
  --background-primary: #2c2e31;
  --background-secondary: #333638;
  --border-primary: #363636;
  --border-secondary: #424242;
  --interactive-background-normal: #3636362f;
  --interactive-background-hover: #36363688;
  --interactive-background-active: #333638;
  --interactive-text-normal: #ababab;
  --interactive-text-hover: #dddddd;
  --interactive-text-active: #fff;
}
